html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: white;
    overflow: hidden;
    font-family: "Trebuchet MS";
}



#header {
    background: #d38b72;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    margin: 5px;
    padding-left: 20px;
    border: solid 1px #ad461d;
    color: #fff;
    font-size: 22pt;
    text-align: left;
    font-weight: normal;
    font-style:italic;
    height: 60px;
    text-shadow: -1px -1px 0 #ad461d, 1px -1px 0 #ad461d, -1px 1px 0 #ad461d, 1px 1px 0 #ad461d;
    -moz-border-radius: 0px;
}

.strokeme
{
    color: red;    
}

#subheader {
    font-size: small;
    color: #fff;
    padding-left: 20px;
}

#rightPane {
    background-color: ff0000;
    color: #3f3f3f;
    border: solid 2px #ad461d;
    width: 20%;
    
}

#leftPane {
    margin: 5px;
    padding: 0px;
    background-color: white;
    color: #3f3f3f;
    border: solid 1px #ad461d;
    width: 18%;
    -moz-border-radius: 0px;    
}

#map {
    margin: 5px;
    background-color: gray;
    border: solid 1px #ad461d;
    -moz-border-radius: 0px;
    
}

#footer {
    margin: 5px;
    border: solid 2px #660000;
    background-color: #ecefe4;
    color: #3f3f3f;
    font-size: 10pt;
    text-align: center;
    height: 20px;
}

#tabs {
    padding: 5px;
}
#panel {
    position:absolute;
    width: 100%; 
    top:0px;
    left: 0px;
    z-index:36;
    background-color: #ecefe4;

}   
#navToolbar {
    position: absolute;
    width: 100%;    
    height: 30px;
    top: 0px;
    right: 0px;    
    border-bottom: 1px solid #B5BCC7;
    z-index: 50;
    /*background-color:transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-bottom: 1px solid #B5BCC7;
    padding: 2px 0 2px 4px;
    opacity: 0.2;*/
    }
/* PANEL position for the tool bar */   


#toolbarbox {   
    padding:0px;
    color:#000;
    border:0px solid #666;
    -moz-border-radius:1px;
    -webkit-border-radius: 1px;
}



#thumbPickerDiv{
        background:#fff;
        color:#fff;
        border:solid 1px #660000;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;     
}
#thumbPickerDivTool{
    position:absolute; right:15px; top:50px; z-Index:99;
    }
    
#legendPane_button_title{
        color: #000000;     
}

#BasemapToggle {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 50;
    }

.esriPopup .titlePane {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #660000;
    border-color: #660000 #660000 -moz-use-text-color;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #FFFFFF;
    cursor: default;
    line-height: 20px;
    padding-left: 6px;
}

.claro {
    color: #131313;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.688em;
}

.claro .dijitAccordionContainer .dijitAccordionChildWrapper {
    background-color: #FFFFFF;
    border: 1px solid #660000;
    margin: 0 2px 2px;
}

.claro .dijitAccordionInnerContainerSelected {
    background-color: #ad461d;
    border-color: #ad461d;
}   

.claro .dijitDialogTitleBar {
    background-color: #ad461d;  
}
.claro .dijitDialogPaneContent {
    border-top-color: #ad461d;
}


.dijitTabInnerDiv {
    background-color: #ff00ff;
}

.claro .dijitContentPane {padding: 0px;}
    background-color: #ffff00;  
}


.claro .dijitDialogUnderlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.fullMap { background-image:url(images/full_map.png); width:24px; height:24px; }
.zoominIcon { background-image:url(images/nav_zoomin.png); width:24px; height:24px; }
.zoomoutIcon { background-image:url(images/nav_zoomout.png); width:24px; height:24px; }
.zoomfullextIcon { background-image:url(images/nav_fullextent.png); width:24px; height:24px; }
.zoomprevIcon { background-image:url(images/backX.png); width:24px; height:24px; }
.zoomnextIcon { background-image:url(images/forwardX.png); width:24px; height:24px; }
.panIcon { background-image:url(images/nav_pan.png); width:24px; height:24px; }
.distanceIcon { background-image:url(images/distance.png); width:24px; height:24px; }
.areaIcon { background-image:url(images/area.png); width:24px; height:24px; }
.printIcon { background-image:url(images/print.png); width:24px; height:24px; }




/* this line hide layers when out of scale for the inline TOC */
.agsjsTOCOutOfScale {
    /*  display: none;*/
}
/*
.claro .dijitTreeExpando {
    background-image: url("http://js.arcgis.com/3.7/js/dojo/dijit/themes/claro/images/treeExpandImages.png");
    background-position: -35px 2px;
    height: 16px;
    width: 16px;
}           
*/
.agsjsTOCServiceLayerLabel {
    font-size: 10pt;
    padding-left: 3px;
    
}

.agsjsTOCServiceLayerPD{
    background-image: url("images/calcite_sprite_contextmenu.png");
    background-repeat: no-repeat;   
    padding-left: 20px; 
}

.agsjsTOCServiceLayerPDZoom{
    background-image: url("images/pdzoom.png");
    background-repeat: no-repeat;   
    padding-left: 15px; 
}

.esriSimpleSliderTR {
    right: 10px;
    top: 40px;
}

.dijitAccordionText{font-size:18px; font-weight:bold;}

#print_button{
    position: absolute;
    top: -2px;
    left:800px;    
    z-index: 50;
}

.esriPrintout{    
    left:800px; 
    color:#3D5229;    
    z-index: 50;
}

#basemap{
    position: absolute;
    top: 10px;
    left:630px;    
    z-index: 50;

}